setuptools~=75.2.0
fastapi~=0.115.4
uvicorn~=0.32.0
pydantic~=2.9.2
pymongo~=4.10.1
python-dotenv~=1.0.1
gql~=3.5.0
requests~=2.32.3
plotly~=5.24.1
numpy~=2.1.2
aiohttp~=3.10.10

space-exploration-common-lib==0.0.59