setuptools~=74.1.2
fastapi~=0.114.1
uvicorn~=0.30.6
pydantic~=2.9.1
pymongo~=4.8.0
python-dotenv~=1.0.1
gql~=3.5.0
requests~=2.32.3
plotly~=5.24.1
numpy~=2.1.1
aiohttp~=3.10.5

space-exploration-common-lib==0.0.59